#contact-title{
color: teal;
padding-bottom: 20px;
border-bottom: 3px solid #dddddd;
}

#name{

    padding: 5px;

}

label{
    color:#777777; 
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea{
    /* border: 2px solid black; */
    padding: 5px;
    width: 90%;
}

input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1; /* Firefox */
  }


input[type=submit]{
    width: 10%;
    height: 35px;
    background-color: teal;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
 }