.about-me{
    background-color: white;
}
#about-title{
    color: #b87324;
    padding-bottom: 20px;
    border-bottom: 3px solid #dddddd;
}

#profile-pic{
    float: left;
    border: 2px solid black;
    display: block;
}

p{
    color:#777777; 
    font-size: 15px;
    line-height: 30px;
    padding: 20px;
    margin-left: 200px

}

