#portfolio-title{
    color: #b87324;
    padding-bottom: 20px;
    border-bottom: 3px solid #dddddd;
}

section{
  min-height: 90%;
}

.container{
  position: relative;
  width: 45%;
  height: 200px;
  /* background-color:lightblue;
  border: 2px solid black; */
  padding: 10px;
  float: left;
  margin: 10px;

}

img{
    height: 100%;
    width: 100%;
    float: left;
    clear: right;
    z-index: -1;
    border: 5px solid gray; 
    border-radius: 7px;
}


.text-block{
    width: 95%;
    height: 20%;
    border: 2px black solid;
    position: absolute;
    bottom:20px;
    right: 5px;
    background-color: #b87324;
    color: white;
    opacity: 0.9;
    text-align: center;
  }

  .text-block:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 10px rgb(184, 183, 183);
  }
  